.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  .containerBtn {
    display: flex;
    align-items: center;
  }
  .scroll {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 600px;
  }
  .divTasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
.styleBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
